In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
stocks = ['AAPL', 'MSFT', 'GOOGL']
prices = yf.download(stocks, start='2022-01-01', end='2024-01-01')['Close']
prices.head()

[*********************100%***********************]  3 of 3 completed

Ticker            AAPL       GOOGL        MSFT
Date
2022-01-03  178.270325  143.904190  323.898376
2022-01-04  176.007751  143.316635  318.344452
2022-01-05  171.326004  136.741806  306.123901
2022-01-06  168.465988  136.714508  303.704926
2022-01-07  168.632507  135.989487  303.859711

In [3]:
returns = prices.pct_change().dropna()
returns.head()

Ticker          AAPL     GOOGL      MSFT
Date
2022-01-04 -0.012692 -0.004083 -0.017147
2022-01-05 -0.026600 -0.045876 -0.038388
2022-01-06 -0.016693 -0.000200 -0.007902
2022-01-07  0.000988 -0.005303  0.000510
2022-01-10  0.000116  0.012061  0.000732

In [4]:
weights = np.array([1/3, 1/3, 1/3])
portfolio_returns = returns.dot(weights)
portfolio_returns.head()

Date
2022-01-04   -0.011307
2022-01-05   -0.036955
2022-01-06   -0.008265
2022-01-07   -0.001268
2022-01-10    0.004303
dtype: float64

In [5]:
portfolio_volatility = portfolio_returns.std() * np.sqrt(252)
VaR_95 = portfolio_returns.quantile(0.05)

portfolio_volatility, VaR_95

(np.float64(0.2852358899610697), np.float64(-0.0294377589301732))

In [6]:
portfolio_returns.to_excel('Portfolio_Risk_Analysis.xlsx', header=['Portfolio Return'])